/* in order of appearance */

main .row {
  margin-bottom: 20px;
}

main {
  font-family: 'Lora', serif;
}


.logo {
  font-family: 'Sacramento', cursive;
  font-size: 350%;
}

.box {
  text-align: center;
  padding-top: 10px;
}

.attention {
  font-family: 'Lora', serif;
  background-color: #eff2f7;
}

.js-search-input {
     padding: 10px;
     text-align: left;
     width: 360px;
}

@media only screen and (min-width: 730px) {
  .js-search-input {
     width: 500px;
  }
}

.primary-btn {
  display: block;
  padding-top: 18px;
}

.primary-btn > button, .loadMore, .returnToResults, .returnToEditorsPicks {
  padding: 5px 25px;
}

.js-editors-picks {
  margin-left: 15px;
}

.editors-picks > h3 {
  padding: 10px;
  margin: 10px 0;
}

.book-cover {
  padding: 10px;
  margin: 30px 40px;
  background-color: #eff2f7;
  border-radius: 10px;
}

.book-icon, .result-text {
  display: inline-block;
}

.result-text {
    max-width: 300px;
}

.title {
  padding: 10px;
  margin: 0 30px;
}

.author {
  padding: 10px;
  margin: 0 30px;
}

.js-description {
  margin-bottom: 100px;
}

.title2 {
  font-size: 30px;
  font-style: italic;
}

.returnToResults, .loadMore, .returnToEditorsPicks {
  margin-bottom: 50px; 
}

.teaser {
  margin: 20px;
}

.logo-icon {
  width: 250px;
}
.logo-icon, .logo-title, .catchphrase {
  display: inline-block;
}

h1.logo-title {
  margin: 0.67em;

}

a {
  text-decoration: none;
}




