/*main {
  padding-top: 100px;
} */

main .row {
  margin-bottom: 20px;
}

.box {
  height: 260px;
  text-align: center;
  padding-top: 10px;
}

.header {
  border-bottom: 2px solid black;
}

.js-query {
 width: 200px;
}


.col-3 .box .blue .js-search-results {
  height: 1000px;
}

.editors-picks > h3, .search-results {
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 5px;
}

