/* in order of appearance */

main .row {
  margin-bottom: 20px;
}

.box {
  height: 260px;
  text-align: center;
  padding-top: 10px;
}

.header {
  border-bottom: 2px solid black;
}

.js-query {
 width: 500px;
 padding: 10px;
 text-align: left;
}

.primary-btn {
  display: block;
  padding-top: 18px;
}

.primary-btn > button {
  padding: 5px 25px;
}

.js-editors-picks {
  margin-left: 15px;
}

.js-search-results {
  height: 1000px;
}

.editors-picks > h3, .js-search-results > h3, .teaser  {
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 5px;
}



